{
  "plugins": [
    "testcafe"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:testcafe/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  }
}